.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10%;
    background-color: #181d34;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-content {
    max-width: 50%;
    text-align: left;
}

.hero-image img {
    width: 100%;
    max-width: 400px;
}

.hero-title {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    position: relative;
    background: linear-gradient(100deg, #fff 60%, #181d34 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
}

.hero-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    gap: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 1.2rem;
}

.hero-subtitle {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 2rem 0;
    position: relative;
    padding-left: 2rem;
}

.hero-subtitle::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background: #fff;
}

.hero-button {
    background: linear-gradient(135deg, #0175fd 0%, #0175fd 100%);
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    box-shadow: 0 4px 15px rgba(0, 140, 255, 0.3);
}

.hero-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(76, 175, 80, 0.4);
}

.button-icon {
    font-size: 1.4rem;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}

/* Efecto de cursor parpadeante */
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.hero-subtitle::after {
    content: "_";
    animation: blink 1s step-end infinite;
    color: #FFF;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero-content {
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .hero-title {
        font-size: 2rem;
    }
    .hero-subtitle {
        font-size: 0.9rem;
    }
    .hero-image img {
        max-width: 80%;
    }
}